<div class="dashboard">
    <h2><i class="fa fa-hand-paper-o" aria-hidden="true"></i>
Welcome!</h2>
    <p>Thank you for signing up our website.<br>
        We have sent you thank you email!<br>
       </p>

</div>