<section class = "dashboard">
    Hello, {{user.fname}} {{user.lname}} <br><br> 
    {{#unless user.customer}}
    <a href="/product/view" class="button"style="text-decoration:none;">View Meal Packages</a><br> 
    {{/unless}}
    <a href="/logout" class="button" style="text-decoration:none;">Logout</a><br>
   
</section>